<script setup lang="ts">
import { useProductStore } from "@/stores/product";

const productStore = useProductStore();
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="productStore.deleteDialog" persistent width="auto">
      <v-card>
        <v-card-title class="text-h5">
          ต้องการลบ Product นี้หรือไม่
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="productStore.closeConfirmDelete()"
          >
            ยกเลิก
          </v-btn>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="productStore.deleteProduct()"
          >
            ตกลง
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
