<script setup lang="ts">
import { useUserStore } from "@/stores/user";

const userStore = useUserStore();
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="userStore.deleteDialog" persistent width="auto">
      <v-card>
        <v-card-title class="text-h5"> ต้องการลบ User นี้หรือไม่ </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="userStore.closeConfirmDelete()"
          >
            ยกเลิก
          </v-btn>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="userStore.deleteUser()"
          >
            ตกลง
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
