<script setup lang="ts">
import { onMounted } from "vue";
import UserDialog from "../users/UserDialog.vue";
import DeleteDialog from "../users/DeleteDialog.vue";

import { useUserStore } from "@/stores/user";

const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});
</script>

<template>
  <UserDialog></UserDialog>
  <v-btn @click="userStore.dialog = true">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.users" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.userName }}</td>
        <td>{{ item.userPassword }}</td>
        <td>
          <v-btn class="ma-5" @click="userStore.editUser(item)">Edit</v-btn>
          <v-btn @click="userStore.confirmDelete(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
  <DeleteDialog></DeleteDialog>
</template>
